body {
  font-family: 'Roboto', sans-serif;
  padding: 16px 8px;
}

button {
  font-size: 16px;
}

select {
  font-size: 16px;
}

#menu {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 8px;
}

.menu-part {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

#watches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
  padding: 0 16px;
}

.watch {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.watch-on {
  color: green;
}

.watch-off {
  color: red;
}

.editing {
  font-style: italic;
}

.watch-text {
  font-size: large;
  font-weight: 500;
}

#title {
  margin: 0;
}